<!DOCTYPE html>
<html>
<head>
    <title>Certifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container feature-card">

    <h1>Certification Recommendations</h1>

    <img src="{{ url_for('static', filename='images/certificate.png') }}"
         class="feature-img">

    <ul>
        {% for c in certifications %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul>

    <center>
        <a href="/advanced-features">
            <button>Back</button>
        </a>
    </center>

</div>

</body>
</html>